* {
    background-color: darkslategrey;
    font-family: 'Courier New', Arial, sans-serif;
    box-sizing: border-box;
}

.card {
    width: 70%;
    margin: 0 auto;
}

.recipe-list {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.recipe-list ul {
    list-style: none;
}

.title {
    text-align: center;
}

h1, h2, h3 {
    color: gold;
}

li, a, p {
    color: beige;
}

.home-link {
    margin: 5px 0px;
    display: block;
}

.recipe-image {
    display: block;
    height: 400px;
    margin: 0 auto;
}
